body {
    margin: 0;
    background: rgb(31, 30, 30);
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

.page-switch-container {
    display: inline-block;

    & p {
        display: inline-block;
        margin: 40px 10px;
        color: rgb(192, 192, 192);
        background: rgb(8, 8, 8);
        padding: 10px 20px;
        cursor: pointer;
    }
}

.left-panel-container {
    position: fixed;
    top: 10vh;
    left: 25px;
    color: white;
    width: 12vw;
}

.search-engine-container {
    position: absolute;
    left: 320px;
    top: 30px;

    & input {
        width: 60vw;
        height: 40px;
        padding-left: 15px;
        border-radius: 20px;
        border: none;
        background: rgb(100, 100, 100);
        color:rgb(247, 247, 247);
        opacity: 0.7;
        transition: .3s;
        &:focus {
            outline: none;
        }
        &:focus-within {
            background: white;
            opacity: 1;
            color:rgb(31, 31, 31);
            border: none;
        }
    }
}

.logo-container {
    & .logo-name {
        color: white;
        font-size: 28px;
        margin-left: 25px;
        margin-top: 30px;
    }
}

.game-overview-container {
    display: inline-block;

    .image-container {
        position: absolute;
        z-index: -1;
        top: 0;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;

        & .image-wrapper {
            position: relative;
            display: inline-block;
            z-index: 1;
            object-fit: fill;
            
            & img {
                display: block;
                opacity: .2;
                width: 100vw;
            }
    
            & .image-overlay {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                background: rgb(31,30,30);
                background: linear-gradient(0deg, rgba(31,30,30,1) 0%, rgba(31,30,30,1) 53%, rgba(31,30,30,0.96) 59%, rgba(31,30,30,0) 100%);
            }
        }
    }

    & .game-overview-right-panel-container {
        background: transparent;
        display: inline-block;
        vertical-align: top;
        width: 20vw;
        margin-left: 5vw;
        margin-top: 30px;
        & .main-screenshot-container {
            & .main-screenshot {
                width: 25vw;
                min-width: 310px;
            }
        }
        & .other-screenshot-container {
            display: inline-block;
            width: 26vw;
            min-width: 310px;
            & div {
                display: inline-block;
                margin-left: 5px;
                margin-top: 10px;
            }
            & .other-screenshot {
                width: 12vw;
                min-width: 150px;
            }
        }
        & .other-screenshot-with-read-more {
            position: relative;
            & .read-more-wrapper {
                position: absolute;
                background: black;
                opacity: .8;
                top: -10px;
                left: -5px;
                bottom: 0;
                right: 0;
                width: 12vw;
                min-width: 150px;
                text-align: center;
                vertical-align: middle;
                line-height: 80px;
                cursor: pointer;  
                & p {
                    position: relative;
                    opacity: 1;
                    color: white;
                    font-size: 20px;
                }
            }
        }
        & .store-buttons-container {
            & h2 {
                color: white;
            }
            & .buttons-wrapper {
                width: 26vw;
                min-width: 300px;
                text-align: center;
                & .store-button {
                    width: 9vw;
                    text-align: center;
                    display: inline-block;
                    background: rgb(49, 49, 49);
                    padding: 0px 25px;
                    border-radius: 10px;
                    cursor: pointer;
                    margin: 5px 5px;
                    & .store-image {
                        width: 28px;
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 10px;
                    }
                    & .store-name {
                        color: rgb(151, 151, 151);
                        display: inline-block;
                    }
                }
            }
        }
    }

    & .game-overview-content {
        margin-left: 20vw;
        width: 35vw;
        display: inline-block;

        & .buttons-container {
            margin-top: -35px;

            & .button-favorite {
                padding: 15px 25px;
                margin-right: 10px;
                border: none;
                border-radius: 5px;
                background: white;
                cursor: pointer;
            }
            & .button-wishlist {
                padding: 15px 25px;
                margin-right: 10px;
                border: none;
                border-radius: 5px;
                background: white;
                cursor: pointer;
            }
        }

        & .game-overview-text {
            color: rgb(197, 197, 197);
            margin-bottom: 0;
            font-size: 20px;
        }

        & .game-name {
            color: white;
            font-size: 64px;
            margin-top: 0px
        }

        & .released-and-platform {
            display: inline-block;

            & .release-text {
                display: inline-block;
                vertical-align: middle;
                margin-right: 15px;
                background: white;
                padding: 2px 8px;
                border-radius: 4px;
            }

            & .average-text {
                display: inline-block;
                vertical-align: middle;
                color: white;
                margin-left: 15px;
            }

            & .platform-container {
                display: inline-block;
    
                & div {
                    display: inline-block;
    
                    & img {
                        width: 18px;
                        margin: 0 5px;
                        vertical-align: middle;
                    }
                }
            }
        }
        & .game-description-container {
            width: 35vw;
            color: white;

            & .roll-dsc-btn {
                width: 90px;
                padding: 3px 0px;
                font-size: 12px;
                color:black;
                background: white;
                text-align: center;
                cursor: pointer;
                border-radius: 5px;
            }
        }
        & .other-info-container {
            width: 35vw;
            color: white;
            & div {
                display: inline-block;
            }
            & .other-info-platform-container {
                width: 45%;
                margin-right: 5%;
            }
            & .other-info-metascore-container {
                width: 45%;
                text-align: center;

                & .metascore-value {
                    width: 50px;
                    margin: 0 auto;
                    padding: 10px 0px;
                    border-radius: 7px;
                }
            }
            & .other-info-genre-container {
                width: 45%;
                margin-right: 5%;
            }

            & .other-info-release-container {
                width: 45%;
                text-align: center;
                & p {}
            }
            & .other-info-developer-container {
                width: 45%;
                margin-right: 5%;
            }
            & .other-info-publisher-container {
                width: 45%;
                text-align: center;
            }
        }
        & .requirements-container {
            color: white
        }
    }
}

.games-cards-container {
    width: 85vw;
    display: inline-block;
    float: right;
    text-align: center;
    margin-top: 30px;
}

.card-wrapper {

    transition: .3s;

    &:hover {
        transform: scale(105%);
        z-index: 99;
    }
}

.game-card-container {
    position: relative;
    display: inline-block;
    width: 370px;
    margin: 10px 10px;
    z-index: 1;

    & .image-loading-template {
        display: inline-block;
        padding: 100px;
        background: rgb(46, 46, 46);
    }

    & .game-pic {
        width: 370px;
        height: 200px;
        margin-bottom: 0;
        border-radius: 15px 15px 0 0;
    }

    & .text-container {
        position: relative;
        text-align: initial;
        background: rgb(46, 46, 46);
        color: white;
        margin-top: -4px;
        padding: 13px 0;
        border-radius: 0 0 15px 15px;

        & .game-name {
            margin-left: 15px;
            font-size: 18px;
            margin-top: 5px;
            width: 70%;
            cursor: pointer;
            transition: .3s;

            &:hover {
                color:rgb(158, 158, 158)
            }
        }

        & .game-metacritic-container {
            position: absolute;
            top: 5px;
            right: 20px;

            & .game-metacritic {
                font-size: 14px;
                padding: 1px 5px;
                border-radius: 5px;
            }
        }

        & .game-platform-container {
            margin-left: 10px;
            margin-bottom: 0;
            z-index: 0;

            & .platform-img-container {
                display: inline-block;
                z-index: 0;
            }

            & img {
                width: 16px;
                margin-left: 5px;
            }
        }

    }
}

.hover-container {
    position: absolute;
    background: transparent;
    margin-top: 160px;
    width: 370px;
    top: 40%;
    margin-left: 10px;
    transition: .5s;
    z-index: 99;

    & .hover-info-invis {
        display: none;
    }

    & .hover-info-vis {
        background: rgb(46, 46, 46);
        margin-top: 0px;
        transition: .3s;
        padding-bottom: 10px;
        text-align: initial;
        border-radius: 0px 0px 15px 15px;
        z-index: 99!important;
        padding-left: 4px;

        & .esrb-container {
            display: inline-block;
            color:rgb(133, 133, 133);
            margin-top: -15px;
            & p {
                display: inline-block;
                font-size: 14px;
            } 
            & .esrb-text {
                margin-left: 15px;
            }
            & .esrb-rating {
                width: 255px;
                text-align: right;
            } 
        }

        & .released-container {
            display: inline-block;
            color:rgb(133, 133, 133);
            margin-bottom: 0px; 
            border-bottom: 1px solid gray;
            margin-left: 15px;

            & .released-text {
                display: inline-block;
                font-size: 14px;
            }

            & .released-date {
                display: inline-block;
                text-align: right;
                width: 243px;
                font-size: 14px;
            }
        }

        & .genres-container {
            display: inline-block;
            color:rgb(133, 133, 133);
            margin-bottom: 0px;
            border-bottom: 1px solid gray;
            margin-left: 15px;

            & .genre-text {
                display: inline-block;
                font-size: 14px;
            }

            & .genre-name-container {
                display: inline-block;
                width: 285px;
                text-align: right;

                & p {
                    display: inline-block;
                    margin: 0 2px;
                    font-size: 14px;
                }
            }
        }
        & .show-more-container {
            text-align: center;
            align-items: center;
            color:rgb(230, 230, 230);
            margin-top: 0;
            padding-top: -5px;
            padding-bottom: 10px;

            & .text-wrapper {
                display: inline-block;
                width: 90%;
                background: rgb(63, 63, 63);
                border-radius: 7px;
                cursor: pointer;
                transition: .5s;

                &:hover {
                    color: rgb(0, 255, 179);
                    outline: 2px solid rgb(36, 36, 36);
                }

                & .text {
                    font-size: 14px;
                    margin-top: 8px;
                    margin-bottom: 8px;
                }
            }
        }
    }
}
.close-search-btn {
    border-radius: 100%;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0 4px 0 -26px;
    cursor: pointer;
    margin-bottom: -10px;
    z-index: 99 !important;
    position: absolute;
    top: 10px;
  }
  
  .close-search-btn-icon {
    background-image: url(../images/close-icon.svg);
    background-size: cover;
    height: 10px;
    width: 10px;
    margin: 6px;
    display: flex;
    margin-bottom: 0px;
    width: 10px;
  }

  /* SEARCH BAR STYLES SCSS*/


.search-bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99 !important;
    display: block;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    background: black;
    margin-top: 45px;
    width: 100%;

    & .search-result-container {
        vertical-align: middle;
        padding-bottom: 10px;
        margin-top: 10px;
        border-bottom: 1px solid rgb(54, 54, 54);

        & .search-result-info {
          display: inline;
          width: 100%;
          vertical-align: middle;

          & p {
            display: inline;
            text-align: center;
            vertical-align: middle;
            line-height: 40px;
            margin-left: 10px !important;
          }

          & img {
            margin-left: 15px;
            text-align: center;
            vertical-align: middle;
            border-radius: 5px;
          }
          & .search-result-image {
            width: 50px;
            height: 50px;
          }
        }
      }
  }

  .screenshot-container {
    width: 80vw;
    display: inline-block;
    text-align: center;
    margin-left: 200px;

    & .screenshot-wrapper {
        display: inline-block;
        margin-left: 20px;
        margin-top: 50px;

        & .game-screenshot {
            width: 500px;
        }
    }
  }
