body {
  margin: 0;
  background: #1f1e1e;
  font-family: 'Lato', sans-serif;
}

.page-switch-container {
  display: inline-block;
}

.page-switch-container p {
  display: inline-block;
  margin: 40px 10px;
  color: silver;
  background: #080808;
  padding: 10px 20px;
  cursor: pointer;
}

.left-panel-container {
  position: fixed;
  top: 20vh;
  left: 25px;
  color: white;
  width: 12vw;
}

.search-engine-container {
  position: absolute;
  left: 320px;
  top: 30px;
}

.search-engine-container input {
  width: 60vw;
  height: 40px;
  padding-left: 15px;
  border-radius: 20px;
  border: none;
  background: #646464;
  color: #f7f7f7;
  opacity: 0.7;
  -webkit-transition: .3s;
  transition: .3s;
}

.search-engine-container input:focus {
  outline: none;
}

.search-engine-container input:focus-within {
  background: white;
  opacity: 1;
  color: #1f1f1f;
  border: none;
}

.logo-container .logo-name {
  color: white;
  font-size: 28px;
  margin-left: 25px;
  margin-top: 30px;
}

.game-overview-container {
  background: gold;
}

.game-overview-container .image-container {
  position: absolute;
  z-index: -1;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.game-overview-container .image-container .image-wrapper {
  position: relative;
  display: inline-block;
  z-index: 1;
  -o-object-fit: fill;
     object-fit: fill;
}

.game-overview-container .image-container .image-wrapper img {
  display: block;
  opacity: .2;
  width: 100vw;
}

.game-overview-container .image-container .image-wrapper .image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #1f1e1e;
  background: -webkit-gradient(linear, left bottom, left top, from(#1f1e1e), color-stop(53%, #1f1e1e), color-stop(59%, rgba(31, 30, 30, 0.96)), to(rgba(31, 30, 30, 0)));
  background: linear-gradient(0deg, #1f1e1e 0%, #1f1e1e 53%, rgba(31, 30, 30, 0.96) 59%, rgba(31, 30, 30, 0) 100%);
}

.game-overview-container .game-overview-content {
  width: 75vw;
  float: right;
}

.game-overview-container .game-overview-content .buttons-container {
  margin-top: -35px;
}

.game-overview-container .game-overview-content .buttons-container .button-favorite {
  padding: 15px 25px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background: white;
  cursor: pointer;
}

.game-overview-container .game-overview-content .buttons-container .button-wishlist {
  padding: 15px 25px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background: white;
  cursor: pointer;
}

.game-overview-container .game-overview-content .game-overview-text {
  color: #c5c5c5;
  margin-bottom: 0;
  font-size: 20px;
}

.game-overview-container .game-overview-content .game-name {
  color: white;
  font-size: 64px;
  margin-top: 0px;
}

.game-overview-container .game-overview-content .released-and-platform {
  display: inline-block;
}

.game-overview-container .game-overview-content .released-and-platform .release-text {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  background: white;
  padding: 2px 8px;
  border-radius: 4px;
}

.game-overview-container .game-overview-content .released-and-platform .average-text {
  display: inline-block;
  vertical-align: middle;
  color: white;
  margin-left: 15px;
}

.game-overview-container .game-overview-content .released-and-platform .platform-container {
  display: inline-block;
}

.game-overview-container .game-overview-content .released-and-platform .platform-container div {
  display: inline-block;
}

.game-overview-container .game-overview-content .released-and-platform .platform-container div img {
  width: 18px;
  margin: 0 5px;
  vertical-align: middle;
}

.game-overview-container .game-overview-content .game-description-container {
  width: 35vw;
  color: white;
}

.game-overview-container .game-overview-content .game-description-container .roll-dsc-btn {
  width: 90px;
  padding: 3px 0px;
  font-size: 12px;
  color: black;
  background: white;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

.game-overview-container .game-overview-content .other-info-container {
  width: 35vw;
  color: white;
}

.game-overview-container .game-overview-content .other-info-container div {
  display: inline-block;
}

.game-overview-container .game-overview-content .other-info-container .other-info-platform-container {
  width: 17vw;
}

.game-overview-container .game-overview-content .other-info-container .other-info-metascore-container {
  width: 17vw;
  float: right;
  text-align: center;
}

.game-overview-container .game-overview-content .other-info-container .other-info-metascore-container .metascore-value {
  width: 50px;
  margin: 0 auto;
  padding: 10px 0px;
  border-radius: 7px;
}

.game-overview-container .game-overview-content .other-info-container .other-info-genre-container {
  width: 17vw;
}

.game-overview-container .game-overview-content .other-info-container .other-info-release-container {
  text-align: center;
  float: right;
  width: 17vw;
}

.game-overview-container .game-overview-content .other-info-container .other-info-release-container p {
  margin-left: -50px;
}

.games-cards-container {
  width: 85vw;
  display: inline-block;
  float: right;
  text-align: center;
  margin-top: 30px;
}

.card-wrapper {
  -webkit-transition: .3s;
  transition: .3s;
}

.card-wrapper:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
  z-index: 99;
}

.game-card-container {
  position: relative;
  display: inline-block;
  width: 370px;
  margin: 10px 10px;
  z-index: 1;
}

.game-card-container .image-loading-template {
  display: inline-block;
  padding: 100px;
  background: #2e2e2e;
}

.game-card-container .game-pic {
  width: 370px;
  height: 200px;
  margin-bottom: 0;
  border-radius: 15px 15px 0 0;
}

.game-card-container .text-container {
  position: relative;
  text-align: initial;
  background: #2e2e2e;
  color: white;
  margin-top: -4px;
  padding: 13px 0;
  border-radius: 0 0 15px 15px;
}

.game-card-container .text-container .game-name {
  margin-left: 15px;
  font-size: 18px;
  margin-top: 5px;
  width: 70%;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.game-card-container .text-container .game-name:hover {
  color: #9e9e9e;
}

.game-card-container .text-container .game-metacritic-container {
  position: absolute;
  top: 5px;
  right: 20px;
}

.game-card-container .text-container .game-metacritic-container .game-metacritic {
  font-size: 14px;
  padding: 1px 5px;
  border-radius: 5px;
}

.game-card-container .text-container .game-platform-container {
  margin-left: 10px;
  margin-bottom: 0;
  z-index: 0;
}

.game-card-container .text-container .game-platform-container .platform-img-container {
  display: inline-block;
  z-index: 0;
}

.game-card-container .text-container .game-platform-container img {
  width: 16px;
  margin-left: 5px;
}

.hover-container {
  position: absolute;
  background: transparent;
  margin-top: 160px;
  width: 370px;
  top: 40%;
  margin-left: 10px;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 99;
}

.hover-container .hover-info-invis {
  display: none;
}

.hover-container .hover-info-vis {
  background: #2e2e2e;
  margin-top: 0px;
  -webkit-transition: .3s;
  transition: .3s;
  padding-bottom: 10px;
  text-align: initial;
  border-radius: 0px 0px 15px 15px;
  z-index: 99 !important;
  padding-left: 4px;
}

.hover-container .hover-info-vis .esrb-container {
  display: inline-block;
  color: #858585;
  margin-top: -15px;
}

.hover-container .hover-info-vis .esrb-container p {
  display: inline-block;
  font-size: 14px;
}

.hover-container .hover-info-vis .esrb-container .esrb-text {
  margin-left: 15px;
}

.hover-container .hover-info-vis .esrb-container .esrb-rating {
  width: 255px;
  text-align: right;
}

.hover-container .hover-info-vis .released-container {
  display: inline-block;
  color: #858585;
  margin-bottom: 0px;
  border-bottom: 1px solid gray;
  margin-left: 15px;
}

.hover-container .hover-info-vis .released-container .released-text {
  display: inline-block;
  font-size: 14px;
}

.hover-container .hover-info-vis .released-container .released-date {
  display: inline-block;
  text-align: right;
  width: 243px;
  font-size: 14px;
}

.hover-container .hover-info-vis .genres-container {
  display: inline-block;
  color: #858585;
  margin-bottom: 0px;
  border-bottom: 1px solid gray;
  margin-left: 15px;
}

.hover-container .hover-info-vis .genres-container .genre-text {
  display: inline-block;
  font-size: 14px;
}

.hover-container .hover-info-vis .genres-container .genre-name-container {
  display: inline-block;
  width: 285px;
  text-align: right;
}

.hover-container .hover-info-vis .genres-container .genre-name-container p {
  display: inline-block;
  margin: 0 2px;
  font-size: 14px;
}

.hover-container .hover-info-vis .show-more-container {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e6e6e6;
  margin-top: 0;
  padding-top: -5px;
  padding-bottom: 10px;
}

.hover-container .hover-info-vis .show-more-container .text-wrapper {
  display: inline-block;
  width: 90%;
  background: #3f3f3f;
  border-radius: 7px;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.hover-container .hover-info-vis .show-more-container .text-wrapper:hover {
  color: #00ffb3;
  outline: 2px solid #242424;
}

.hover-container .hover-info-vis .show-more-container .text-wrapper .text {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 8px;
}
/*# sourceMappingURL=style.css.map */