body {
    margin: 0;
    background: rgb(31, 30, 30);
    font-family: 'Lato', sans-serif;
}

.logo-container {
    & .logo-name {
        color: white;
        font-size: 28px;
        margin-left: 25px;
        margin-top: 30px;
    }
}

.games-cards-container {
    width: 85vw;
    display: inline-block;
    float: right;
    text-align: center;
}

.game-card-container {
    display: inline-block;
    width: 370px;
    margin: 10px 10px;

    & .image-loading-template {
        display: inline-block;
        padding: 100px;
        background: rgb(46, 46, 46);
    }

    & .game-pic {
        width: 370px;
        height: 200px;
        margin-bottom: 0;
        border-radius: 15px 15px 0 0;
    }

    & .text-container {
        position: relative;
        text-align: initial;
        background: rgb(46, 46, 46);
        color: white;
        margin-top: -4px;
        padding: 13px 0;
        border-radius: 0 0 15px 15px;

        & .game-name {
            margin-left: 15px;
            font-size: 16px;
            margin-top: 5px;
        }

        & .game-metacritic-container {
            position: absolute;
            top: 5px;
            right: 20px;

            & .game-metacritic {
                font-size: 14px;
                padding: 1px 5px;
                border-radius: 5px;
            }
        }

        & .game-platform-container {
            margin-left: 10px;
            margin-bottom: 0;

            & img {
                width: 20px;
                margin-left: 5px;
            }
        }

    }
}