body {
    margin: 0;
    background: rgb(31, 30, 30);
}

.games-cards-container {
    width: 85vw;
    display: inline-block;
    float: right;
    text-align: center;
}

.game-card-container {
    display: inline-block;
    width: 370px;
    margin: 10px 10px;

    & .image-loading-template {
        display: inline-block;
        padding: 100px;
        background: rgb(46, 46, 46);
    }

    & .game-pic {
        width: 370px;
        height: 200px;
        margin-bottom: 0;
        border-radius: 15px 15px 0 0;
    }

    & .text-container {
        text-align: initial;
        background: rgb(46, 46, 46);
        color: white;
        margin-top: -4px;
        padding: 13px 0;
        border-radius: 0 0 15px 15px;

        & p {
            margin-left: 15px;
        }
    }
}